NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_anon_key
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=your_google_client_id
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET=your_google_client_secret


# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_12345
STRIPE_SECRET_KEY=sk_test_12345
STRIPE_WEBHOOK_SECRET=whsec_12345
NEXT_PUBLIC_STRIPE_PRO_PRICE_ID=price_test_123
