# Backend API
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_12345
STRIPE_SECRET_KEY=sk_test_12345
STRIPE_WEBHOOK_SECRET=whsec_12345
NEXT_PUBLIC_STRIPE_PRO_PRICE_ID=price_test_123
