@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1408 0.0044 285.8229);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1408 0.0044 285.8229);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1408 0.0044 285.8229);
    --primary: oklch(0.5106 0.2301 276.9656);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.9674 0.0013 286.3752);
    --secondary-foreground: oklch(0.2103 0.0059 285.8852);
    --muted: oklch(0.9674 0.0013 286.3752);
    --muted-foreground: oklch(0.5517 0.0138 285.9385);
    --accent: oklch(0.8722 0.0450 33.5303);
    --accent-foreground: oklch(0.2103 0.0059 285.8852);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.9197 0.0040 286.3202);
    --input: oklch(0.9197 0.0040 286.3202);
    --ring: oklch(0.5106 0.2301 276.9656);
    --chart-1: oklch(0.5106 0.2301 276.9656);
    --chart-2: oklch(0.8722 0.0450 33.5303);
    --chart-3: oklch(0.5809 0.1948 280.4618);
    --chart-4: oklch(0.7258 0.0313 36.1497);
    --chart-5: oklch(0.4486 0.2225 274.9528);
    --radius: 0.5rem;
    --spacing: 0.25rem;
    --sidebar: oklch(0.9797 0.0026 286.3509);
    --sidebar-foreground: oklch(0.1408 0.0044 285.8229);
    --sidebar-primary: oklch(0.5106 0.2301 276.9656);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.8722 0.0450 33.5303);
    --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8852);
    --sidebar-border: oklch(0.9197 0.0040 286.3202);
    --sidebar-ring: oklch(0.5106 0.2301 276.9656);
  }

  .dark {
    --background: oklch(0.1408 0.0044 285.8229);
    --foreground: oklch(0.9851 0 0);
    --card: oklch(0.1408 0.0044 285.8229);
    --card-foreground: oklch(0.9851 0 0);
    --popover: oklch(0.1408 0.0044 285.8229);
    --popover-foreground: oklch(0.9851 0 0);
    --primary: oklch(0.5106 0.2301 276.9656);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.2739 0.0055 286.0326);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.2739 0.0055 286.0326);
    --muted-foreground: oklch(0.7118 0.0129 286.0665);
    --accent: oklch(0.8722 0.0450 33.5303);
    --accent-foreground: oklch(0.2103 0.0059 285.8852);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.2739 0.0055 286.0326);
    --input: oklch(0.2739 0.0055 286.0326);
    --ring: oklch(0.5106 0.2301 276.9656);
    --chart-1: oklch(0.5106 0.2301 276.9656);
    --chart-2: oklch(0.8722 0.0450 33.5303);
    --chart-3: oklch(0.5809 0.1948 280.4618);
    --chart-4: oklch(0.7258 0.0313 36.1497);
    --chart-5: oklch(0.4486 0.2225 274.9528);
    --spacing: 0.25rem;
    --sidebar: oklch(0.1926 0.0060 285.8234);
    --sidebar-foreground: oklch(0.9851 0 0);
    --sidebar-primary: oklch(0.5106 0.2301 276.9656);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.8722 0.0450 33.5303);
    --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8852);
    --sidebar-border: oklch(0.2739 0.0055 286.0326);
    --sidebar-ring: oklch(0.5106 0.2301 276.9656);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}